body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-image: url('../../img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.tela_derrota{
    width: 500px;
    height: 500px;
    background-image: url('../../img/game_over.png');
    background-size: cover;
    background-repeat: no-repeat;
}

button{
    display: inline-block;
    height: 60px;
    width: 150px;
    background-color: #ff3e3e;
    color: white;
    border: none;
    border-radius: 8px;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
    transition-property: background-color;

}

button:hover {
    cursor: pointer;
    background-color: #ff3030;
}