body {
    height: 100dvh;
    background-image: url('../../img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

.container_inicial {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.container_jogo {
    position: absolute;
    display: none;
}

.titulo {
    background-image: url('../../img/game.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 500px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

}

.mosquito {
    width: 50px;
    height: 50px;

}

.area_de_vida {
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    width: 220px;
    height: 80px;

}

.tempo_restante {
    font-weight: bold;
    font-size: 14px;

}

.destro {
    transform: scaleX(1);

}

.canhoto {
    transform: scaleX(-1);
}

#escolher_dificuldade {
    display: inline-block;
    width: 220px;
    height: 40px;
    text-align: center;
    border: none;
    border-radius: 8px;
    color: #6b6b6b;

}

#escolher_dificuldade:hover {
    cursor: pointer;

}

#escolher_dificuldade:active {
    background-color: #cacaca;
}

#iniciar_jogo {
    display: inline-block;
    height: 60px;
    width: 150px;
    background-color: #ff3e3e;
    color: white;
    border: none;
    border-radius: 8px;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
    transition-property: background-color;

}

#iniciar_jogo:hover {
    cursor: pointer;
    background-color: #f51a1a;
}